<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anmoyi.model.dao.UseTimeMapper">
  <resultMap id="BaseResultMap" type="com.anmoyi.model.po.UseTime">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="useTime" jdbcType="TIMESTAMP" property="useTime" />
    <result column="pointType" jdbcType="INTEGER" property="pointType" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, useTime, duration, pointType, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from use_time
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from use_time
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.anmoyi.model.po.UseTime">
    insert into use_time (id, userId, useTime, duration, pointType,
      createTime)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{useTime,jdbcType=TIMESTAMP},
      #{duration,jdbcType=INTEGER}, #{pointType,jdbcType=INTEGER},  #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.anmoyi.model.po.UseTime">
    insert into use_time
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="useTime != null">
        useTime,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="pointType != null">
        pointType,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="useTime != null">
        #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="pointType != null">
        #{pointType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anmoyi.model.po.UseTime">
    update use_time
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="useTime != null">
        useTime = #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="pointType != null">
        pointType = #{pointType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anmoyi.model.po.UseTime">
    update use_time
    set userId = #{userId,jdbcType=INTEGER},
      useTime = #{useTime,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=INTEGER},
      pointType = #{pointType,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getUseTimeList"  resultType="com.anmoyi.model.po.UseTime">
    select
    <include refid="Base_Column_List" />
    from use_time
    where userId = #{userId}
    AND pointType = #{pointType}
    AND TO_DAYS(useTime) = TO_DAYS(#{useTime})
  </select>



  <select id="getPeriodUseTimeList" resultType="java.util.HashMap">
    SELECT
    DATE_FORMAT(createTime,'%Y-%m-%d') AS time,  COUNT(*) AS count
    FROM use_time
    WHERE userId = #{userId}
    AND pointType = #{pointType}
    AND createTime BETWEEN #{startTime}  AND   #{endTime}
    GROUP BY(DATE_FORMAT(createTime,'%Y-%m-%d'))
  </select>






</mapper>